* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    padding: 0 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

h2 {
    text-transform: uppercase;
    color: #2893c9;
    font-weight: bold;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #AAA;
}

h4 {
    color: #FE6600;
    text-transform: uppercase;
    font-weight: 600;
}

h5 {
    color: #2893c9;
    text-transform: uppercase;
    font-weight: 600;
}

/* Header One (Logo + Social) */
.headerOne {
    border-bottom: 1px solid #AAA;
}

.headerOne .logo {
    width: 70%;
    float: left;
}

.headerOne .logo img {
    width: 100%;
}

.headerOne .social {
    width: 25%;
    float: left;
    margin-top: 30px;
    margin-left: 2%;
}

.headerOne .social img {
    margin-left: 5px;
    opacity: .5;
}

.headerOne .social img:hover {
    opacity: 1;
}

/* Navbar */

.navbar a {
    color: #BBB;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    margin-left: 15px;
}

.navbar a:hover {
    background-color: rgb(24, 24, 224);
    color: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* Content Body */
.container {
    padding: 10px;
    background-color: #CCC;
}

.showcase img {
    width: 100%;
}

.content {
    padding: 30px 0 0;
    border-bottom: 1px solid #AAA;
}

/* Main Content */
.mainContent {
    width: 68%;
    float: left;
    padding-bottom: 40px;
}

.mainContent .textBx {
    margin-top: 15px;
    padding: 0 15px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
}

.textBx ul {
    margin-top: 15px;
    margin-left: 40px;
}

.cars {
    padding: 25px 15px 25px 0;
}

.cars img {
    margin-left: 3%;
    width: 46%;
    border: 1px solid #FFF;
    padding: 5px;
}

/* News */
.news {
    width: 28%;
    float: left;
    margin-left: 4%;
}

.news .post {
    padding: 15px 10px;
    line-height: 1.4;
    text-align: justify;
    font-size: 13px;
    word-spacing: 1px;
}

.news .post p {
    margin-top: 15px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px 0 5px;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 12px;
    word-spacing: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #333;
}